.alert{
    padding: 10.75rem 1.25rem;
    color: var(--mainwhite);
    text-align: center;
    margin: 2rem auto 0 auto;
    border-radius: 2px;
}

.alert-danger{
    background-color: var(--maired);
}
.alert-success{
    background-color: var(--mainGreen);
}